body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto Slab', serif;
    margin: 0px auto;
    min-width: 780px;
    max-width: 1440px;
}

a {
    border-bottom: 5px solid #F7D722;
    text-decoration: none;
    color: currentColor;
    transition: 0.6s;
}

a:hover {
    background-color: #F7D722;
    text-decoration: none;
    color: currentColor;
    border-bottom: 0px solid #F7D722;
    border-radius: 8px;
    font-weight: bold;
}

button.btn {
    background-color: #050505;
    color: white;
    border-radius: 8px;
    margin: 10px;
    height: 45px;
    padding: 10px;
    font-size: 24px;
    font-weight: normal;
    border-bottom: 0px solid #F7D722;
    transition: 0.6s;
    white-space: nowrap;
    border: none;
}

button.btn:hover {
    background-color: #F7D722;
    color: #050505;
    border-radius: 8px;
    height: 45px;
    padding: 10px;
    font-size: 24px;
    font-weight: normal;
    white-space: nowrap;
    border: none;
}

.page-title-layout {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.page-title-elem-layout {
    padding-top: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 50%;
}

.page-body-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.codesign-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-parah-layout {
    width: 87%;
}

.main-title-style {
    font-size: 45px;
    line-height: 60 px;
    font-weight: bold;
    color: #050505
}

.subtitle-style {
    font-size: 36px;
    font-weight: medium;
    color: #050505
}

.title-byline {
    font-size: 30px;
    font-weight: medium;
    line-height: 44px;
    color: #626262
}

.section-title-style {
    color: #050505;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    white-space: nowrap;
}

.body-style {
    color: #626262;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
    width: 87%;
}

.hightlight-style {
    color: #F7D722
}

.section-number-style {
    color: #050505;
    font-size: 180px;
}

.research-qusetion-style {
    font-size: 42px;
    font-weight: normal;
    line-height: 50px;
}

.description-style {
    color: #626262;
    font-size: 24px;
    font-weight: normal;
    line-height: 40px;
}

.section-number-layout {
    width: 8%;
}

.research-qusetion-layout {
    width: 33%;
}

.description-layout {
    width: 58%;
}

.question-layout {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}

#CurvePersona1,
#CurvePersona2,
#CurvePersona3,
#CurvePersona4 {
    transition: 0.4s;
    fill: none;
}

#P1AvtBg,
#P2AvtBg,
#P3AvtBg,
#P4AvtBg {
    fill: white;
    transition: 0.4s;
}

#AvatarPersona1,
#AvatarPersona2,
#AvatarPersona3,
#AvatarPersona4 {
    transition: 0.4s;
}

#CurvePersona1:hover,
#CurvePersona2:hover,
#CurvePersona3:hover,
#CurvePersona4:hover {
    stroke-width: 6;
}

#P1AvtBg:hover {
    fill: #9FC855;
}

#P2AvtBg:hover {
    fill: #FB9482;
}

#P3AvtBg:hover {
    fill: #7FC8BB;
}

#P4AvtBg:hover {
    fill: #F8AB1D;
}

#DetailP1,
#DetailP2,
#DetailP3,
#DetailP4 {
    transition: 0.4s;
    display: none;
}